body {
  min-height: 100vh;
  margin: 0;
  background-color: #eeeeee;
}

.score {
  position: absolute;
  right: 0;
  margin-right: 5px;
  font-size: 20px;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.start-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15vh;
}

.rock,
.paper,
.scissors {
  border-width: 2px;
  border-color: #aad8d3;
  border-style: solid;
  border-radius: 25px;
  background-color: #aad8d3;
}

.result {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.start-button {
  font-size: 18px;
  border: none;
  border-radius: 8px;
  max-width: fit-content;
  padding: 16px 64px;
  color: #f9f8fa;
  background-color: #3882f6;
}
