body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: mediumpurple;
}

.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  font-size: 18px;
  border: none;
  border-radius: 8px;
  max-width: fit-content;
  padding: 16px 64px;
  color: #f9f8fa;
  background-color: #3882f6;
}
